@charset "UTF-8";

body {
    background: url("../img/bg-desktop.svg") no-repeat var(--violet);
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

header {
    padding: 30px;
    margin-bottom: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main .informacoes {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 20px;
    padding: 20px;
}

main .informacoes h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    line-height: 1.5em;
}

main .informacoes p { 
    color: white;
    line-height: 1.5em;
    text-align: justify;
}

main .informacoes a {
    color: var(--violet);
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    align-self: flex-start;
    text-decoration: none;
    box-shadow: 0px 10px 10px 10px rgb(158, 31, 31);
}

main .informacoes a:hover {
    color: white;
    background-color: var(--soft_magenta);
}

footer {
    padding: 10px 80px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

footer a {
    color: white;
    border: 1px solid white;
    padding: 12px;
    border-radius: 100px;
}

footer a:hover {
    color: var(--soft_magenta);
    border-color: var(--soft_magenta);
}