@charset "UTF-8";

body {
    background: url("../img/bg-desktop.svg") no-repeat var(--violet);
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

header {
    padding: 30px;
    margin-bottom: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 72%;
}

main .informacoes {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 20px;
    padding: 20px;
}

main .informacoes h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    line-height: 1.5em;
}

main .informacoes p { 
    color: white;
    line-height: 1.5em;
    text-align: justify;
}

main .informacoes a {
    color: var(--violet);
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    align-self: flex-start;
    text-decoration: none;
    box-shadow: 0px 0px 40px 0px rgba(27, 27, 27, 0.623);
}

main .informacoes a:hover {
    color: white;
    background-color: var(--soft_magenta);
}

footer {
    padding: 10px 80px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

footer a {
    color: white;
    border: 1px solid white;
    padding: 12px;
    border-radius: 100px;
}

footer a:hover {
    color: var(--soft_magenta);
    border-color: var(--soft_magenta);
}

@media (max-width: 430px) {
    body {
        background: url("../img/bg-mobile.svg") no-repeat var(--violet);
        display: flex;
        flex-direction: column;
    }

    header {
        margin-bottom: 50px;
    }

    main {
        flex-direction: column;
        height: auto;
    }

    main .imagem img {
        width: 300px;
    }

    main .informacoes h1 {
        font-size: 1.7em;
    }

    main .informacoes h1, main .informacoes p { 
        text-align: center;
    }

    main .informacoes a {
        margin-top: 20px;
        margin: auto;
    }

    footer {
        margin-top: 20px;
        justify-content: center;
    }
}

@media (max-width: 820px) {
    body {
        background: url("../img/bg-mobile.svg") no-repeat var(--violet);
        display: flex;
        flex-direction: column;
    }

    main .imagem img {
        width: 300px;
        padding: 20px;
    }

}